body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

/* 탑바 */
header {
  background-color: #2F4858;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}
/* 탑바 */

h1 {
  font-weight: lighter;
  font-size: 1.2em;
  margin-top: 150px;
  margin-bottom: 10px;
  color: grey;
}

h2 {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 100px;
  color: black;
}

/* 탭 */
.tabs, .sub-tabs {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}

.tab-button {
  background-color: white;
  border: none;
  height: 40px;
  width: 40px;

  padding: 10px 20px;
  position: relative;
  left: 90px;
  margin-right: 10px;
  cursor: pointer;

  font-size: 1em;
  font-weight: normal;
  transition: font-weight 0.3s;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.tab-button.active {
  color: black;
  font-weight: 900;
  text-decoration-line: underline;
  text-underline-position: under;
  text-decoration-thickness: 3px;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.sub-tab-button {
  background-color: white;
  font-size: 1em;
  width: 70px;
  height: 35px;
  overflow: hidden;
  transition: background-color 0.3s;

  border: none;
  border-radius: 10%;
  margin: 0 5px;
  padding: 10px 20px;
  cursor: pointer;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.sub-tab-button.active {
  background-color: #C2D4C6;
  color: black;
  font-weight: bold;
}

.tab-content, .sub-tab-content {
  display: none;
}

.tab-content.active, .sub-tab-content.active {
  display: block;
}
/* 탭 */

.question-sentence {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
  left: 100px;
}

.question-sentence h3 {
  font-size: 1.2em;
  font-weight: 200;
  color: black;
}

.feedback-container {
  width: 80%;
  /* position: relative;
  left: 0px;
  right: 0px; */
  max-width: 1200px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  text-align: center;
}

.feedback-box {
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  width: 80%;
  margin: auto;
  background-color: #F1F8E8;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.feedback-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.feedback-category {
  flex-basis: 30%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.feedback-category.grammar {
  flex-basis: 100%;
  margin-top: 10px;
}

.feedback-section {
  margin: 0 0 0 0;
}

.feedback-section h3 {
  font-size: 1em;
  text-align: left;
  margin-bottom: 10px;
  color: #333;
}

.wrong {
  color: red;
}

@media (max-width: 600px) {
  .feedback-container {
      padding: 10px;
  }

  .tab-button, .sub-tab-button {
      border-radius: 8px;
      padding: 8px 16px;
      font-size: 0.9em;
  }
}
