/* src/components/PreTestPage.css */
.header {
    background-color: #2F4858;
    color: white;
    padding: 15px;
}

body {
    background-color: #c2d4c6;
    margin: 0;
    padding: 0;
}

.outer-container {
    background-color: #c2d4c6;
    padding: 230px;
}

.inner-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 50px;
    margin: auto;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}


.start-recording-button {
    display: inline-block;
    flex-direction: column;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: #f1f8e8;
    border: 1px solid  #787a76;
}

.start-recording-button:hover {
    background-color: #e4ebdd;
}

.take-test-button {
    display: inline-block;
    flex-direction: column;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: #f1f8e8;
    border: 1px solid  #787a76;
}

.take-test-button:hover {
    background-color: #e4ebdd;
}